.center{
  display: flex;
  flex-direction: column;
  margin: 0;
  border: 0;

}

.pongcenter {
  display: flex;
  width: 70%;
  height: 80%;
  border-radius: 20px;
  background-color: white;
  background-image: url(../Bilder/mario.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:top;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}


#container{
  width: 800px;
  height: 400px;
  position: relative;
  background: black;
}
#ball{
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
}
#racketRight{
  position: absolute;
  right: 40px;
  width: 10px;
  height: 100px;
  background: white;
}
#racketLeft{
  position: absolute;
  left: 40px;
  width: 10px;
  height: 100px;
  background: white;
}
