* {
  color: white;
}
 form{
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-content: center;
 }
 p{
   color: white;
 }
 input{
   border: 2px solid black;
   background: #555555;
   color: white;
   /*background-color: #333333;*/

 }
 #main{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 1200px;
 }

 #leftUI{
   background:url(../images/backgroundLeft2.png);
   position: fixed;
   left: 50%;
   margin-left: -600px;
   display: flex;
   flex-direction: column;
   width: 300px;
   height: 600px;
 }
 #rightUI{
   background:url(../images/backgroundRight.png);
   position: fixed;
   right: 50%;
   margin-right: -600px;
   display: flex;
   flex-direction: column;
   width: 300px;
   height: 600px;
 }

 #board{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 600px;
   height: 600px;
   background: grey;
 }

 #pictureRight{
   display: flex;
   justify-content: space-around;
   align-self: center;
   width: 100px;
   height: 100px;
 }
 #unitInfoUI{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 300px;
 }
 #buttonDiv{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-content: flex-start;
   height: 300px;
 }

 #gameStartUI{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 300px;
 }
 #runningGameUI{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 300px;
 }
 #startButton{
   border: 2px solid black;
   background: #555555;
   width: 300px;
   color: white;
 }
 #endButton{
   border: 2px solid black;
   background: #555555;
   width: 300px;
   color: white;
 }

 .buttonDiv{
   display: flex;
   flex-direction: row;
   width: 300px;
 }
 .disabledButton{
   color: white;
   border: 2px solid black;
   background: #555555;
   opacity: 0.5;
   width: 100px;
   height: 100px;
   font-size: 9px;
 }
 .abledButton{
   color: white;
   border: 2px solid black;
   background: #555555;
   opacity: 1.0;
   width: 100px;
   height: 100px;
   font-size: 9px;
 }
 .column{
   display: flex;
   flex-direction: column;
 }
 .rowAround{
   width: 300px;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
 .rowCustom{
   width: 300px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 .fieldRow{
   width: 600px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   background: blue;
   display: flex;
   flex-direction: row;
}
.field{
  width: 100px;
  height: 100px;
  background: #331a00;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
